body {
  font-family: "Montserrat";
  text-align: center;
}

.container-fluid {
  padding: 7% 15%;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}

.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Navbar  */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  padding: 0;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat-light";
  font-size: 1.2rem;
}

/* download button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title section */

#title .container-fluid {
  padding: 3% 15% 7%;
  
  text-align: left;
}

.title-image {
  transform: rotate(25deg);
  width: 60%;
  right: 30%;
  position: absolute;
}

/* Feature Section */

#features {
  z-index: 1;
  position: relative;
 
}

.feature-title {
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}

/* testimonial section */

#testimonials {
  background-color: #ef8172;

  color: #fff;
  line-height: 1.5;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  width: 12%;
}

/* Press */
#press {
  background-color: #ef8172;

  padding-bottom: 5%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
.card {
  margin: 5%;
}
/* Pricing */

.pricing-column {
  padding: 3% 2%;
}
.pricing-text {
  font-size: 3rem;
  line-height: 1.5rem;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .rotateimg25 {
    transform: rotate(0);

    position: static;
  }
}

/* CTA Section */

#cta {
  background-color: #ff4c68;
  font-family: "Montserrat-Bold";
  color: #fff;
}

/* Footer section */

.social-icon {
  padding: 2%;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}
